/* Midair MVP theme */
body {
    background: rgba(3, 55, 70, 0.05);
    color: #000;
    font: 20px/1.5 "Roboto Serif", serif;
    padding: 90px 0;
}

a {
    color: #000;
}

figure {
    margin: 0 0 15px;
}

h1 {
    font: 45px/1.3333 "Roboto", sans-serif;
    font-weight: 800;
    margin: 0 90px 90px;
    text-align: center;
}

h2 {
    font: 30px/1.5 "Roboto", sans-serif;
    font-weight: 800;
    margin: 0 0 15px;
}

h3 {
    font: 20px/1.5 "Roboto", sans-serif;
    font-weight: 800;
    margin: 0 0 15px;
}

p, ul, ol {
    margin: 0 0 30px;
}

p.npf_quote {
    font-size: 30px;
    margin-bottom: 0;
}

.spotify img {
    border: 5px solid #fff;
}

.read-more {
    margin-top: -15px;
}

a.permalink:hover, a.permalink:focus,
a.external:hover, a.external:focus,
h2 a:hover, h2 a:focus,
.read-more a:hover, .read-more a:focus,
#blog a:hover, #blog a:focus {
    text-decoration: none;
    color: #C03374;
}

main {
    margin: 0 auto;
    max-width: 760px; /* 75 characters per line for 20px Roboto Serif */
}

/* Add extra padding for mobile devices */
@media (max-width: 600px) {
    main {
        padding: 0 15px;
    }
    .meta svg,
    .meta img {
        display: none;
    }
}

#logo {
    position: absolute;
    top: -29px;
    left: -10px;
    width: 115px;
    height: 115px;
    opacity: 0.1;
}

main::before {
    content: "";
    position: absolute;
    background: #F4DD4B;
    width: 30px;
    height: 90px;
    top: 0;
    right: 90px;
}

#announce {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
}

#blog img {
    border: 15px solid #fff;
    max-width: 100%;
    display: block;
    margin: 0 auto 30px;
}

article {
    margin-bottom: 90px;
}

.meta {
    font: 15px/1 "Roboto", sans-serif;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 15px;
}

.meta svg,
.meta .source-icon {
    position: absolute;
    left: -30px;
    border: 0;
}

.ma-type {
    font-weight: bold;
}

.ma-type.bluesky {
    color: #0085FF;
}

.ma-type.spotify {
    color: #1DB954;
}

.ma-type.strava {
    color: #FC4C02;
}

.ma-type.goodreads {
    color: #825445;
}

.ma-type.letterboxd {
    color: #202830;
}

.ma-type.article {
    color: #C03374;
}

.ma-type.review {
    color: #33746F;
}

.meta .permalink span {
    line-height: 20px;
    font-size: 20px;
    vertical-align: text-bottom;
}

.meta .external span {
    font-size: 17px;
    line-height: 20px;
    vertical-align: text-bottom;
}

#loading {
    animation: spin 2s linear infinite;
    aspect-ratio: 1/cos(30deg);
    background: #F4DD4B;
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
    height: 60px;
    margin: 0 auto;
}

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}

/* Type-specific style overrides */

.review figure img {
    float: left;
    margin: 0 15px 15px 0;
}

.review iframe {
    width: 100%;
}

.review iframe[id*="youtube"] {
    height: 427px;
}

.spotify .item {
    display: flex;
    align-items: start;
    gap: 15px;
}

/* View transitions */

@view-transition {
    navigation: auto;
}

.article h2, #article h1 {
    view-transition-name: --title;
}
